/** ----- Génerale ----- **/

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

@font-face {
   font-family: "Continuum Medium";
   src: url("assets/font.ttf") format("truetype");
   font-weight: bold;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
}

body {
   font-family: "Noto Sans", sans-serif;
   font-size: 18px;
   background-color: #fefefe;
   color: #14213d;
}

a {
   color: inherit;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

h1,
h2,
.h2,
.h3 {
   font-family: "Continuum Medium";
}

h2,
.h2 {
   font-size: 22px;
}

.h3 {
   font-size: 18px;
}

ul {
   list-style: none;
}

li {
   margin-left: 20px;
   margin-top: 15px;
}

li:hover {
   cursor: pointer;
}

li img {
   height: 17px;
   margin: 0 5px;
}

.caché {
  display: none;
}

/** ----- Header ----- **/

header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #fca311;
   padding: 10px 30px;
   user-select: none;
}

header img {
   height: 45px;	
   padding-top: 5px;
}

/** ----- bar Recherche  ----- **/

#barRecherche {
   display: flex;
   align-items: center;
   padding: 0 15px;
   border-radius: 10px;
   background-color: #fdb541;
   border: #14213d solid 1px
}

input[type="search"] {
   font-size: 18px;
   padding: 10px;
   width: 175px;
   background-color: #fdb541;
   border: none;
}

input[type="image"] {
  width: 30px;
  height: 30px;
  opacity: 0.5;
  margin-right: -10px;
  padding-top: 4px;
}

input[type="image"]:hover {
  cursor: default;
}

#lien a {
   margin: 0 15px;
   color: inherit;
   text-decoration: none;
}

/** ----- Footer ----- **/

footer {
   margin-top: 75px;
   margin-bottom: 20px;
   font-size: 12px;
   display: flex;
   justify-content: center;
   align-items: center;
}

/** ----- Section  ----- **/

section {
   position: fixed;
   margin-top: 5rem;
   margin-left: 9rem;
   user-select: none;
}

/** ----- Page Centrale  ----- **/

main {
   display: flex;
   flex-direction: column;
   margin: 8.5rem 32.5rem 0 37.5rem;
   row-gap: 30px;
}

main a {
   text-decoration: underline;
}

main ul {
   margin: -20px 0 -10px 0; 
}

main img {
   display: flex;
   align-self: center;
   height: 350px;
   max-width: 600px;
   border: #14213d solid 4px;
   border-radius: 15px;
   margin: 20px 0;
   user-select: none;
}

/** ----- Contact  ----- **/

form {
   display: flex;
   flex-direction: column;
   align-self: center;
   margin-bottom: 50px;
}

label {
   font-size: 20px;
   margin-right: 20px
}

form div {
   display: flex;
   align-items: center;
   margin: 30px;
   row-gap: 20px;
}

form input,
textarea {
   color: #24314d;
   border: #24314d solid 2px;
   border-radius: 5px;
   padding: 8px 12px;
   font-size: 20px
}

form input {
   width: 500px;
}

textarea {
  resize: none;
  width: 600px;
  height: 500px;
}

/** ----- Bouttons  ----- **/

#buttons {
   display: flex;
   justify-content: space-around;
}

button {
   border: #24314d solid 2px;
   border-radius: 8px;
   font-size: 23px;
   padding: 12px 16px;
   transition: 0.5s ease;
}

button:hover {
   cursor: pointer;
}

.version1 {
   background-color: #24314d;
   color: #fefefe;
}

.version1:hover {
   color: #24314d;
   background-color: #fefefe;
}

.version2 {
   color: #24314d;
   background-color: #fefefe;
}

.version2:hover {
    background-color: #24314d;
    color: #fefefe;
}

/** ----- Media Queries  ----- **/

@media only screen and (max-width: 692px) {
	 header {
		padding: 5px 10px;
	 }
	
	 #lien {
		 font-size: 15px;
	 }
	
	 input[type="search"] {
		 font-size: 15px;
		 padding: 5px;
		 width: 125px;
	 }

	 input[type="image"] {
		  width: 20px;
		  height: 20px;
		  margin-right: 5px;
		  padding-top: 0px;
	 }

	 header img {
		height: 30px;
	 }
	 
	 section {
	 	 display: none
	 }
	 
	 main {
	 	 margin: 8.5rem 3rem 0 3rem;
	 }
	 
	 main img {
		height: 250px;
		max-width: 400px;
	}
	
	 form input {
   	 width: 200px;
	 }

	 textarea {
	    width: 300px;
	    height: 300px;
	 }
}

@media only screen and (min-width: 628px) and (max-width: 1199px) {
	 section {
	 	 display: none
	 }
	 
	 main {
	 	 margin: 8.5rem 7.5rem 0 7.5rem;
	 }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
	 section {
		 display: none
	 }
	 
	 main {
	 	 margin: 8.5rem 17.5rem 0 17.5rem;
	 }
}

@media only screen and (min-width: 1401px) and (max-width: 1700px) {
	 section {
		 margin-left: 5rem;
	 }
	 
	 main {
	 	 margin: 8.5rem 15rem 0 32.5rem;
	 }
}
